.container11{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: auto;
    background-color: #112240;
    margin-bottom: 10px;
    color: #ccd6f6;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 100px;
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    align-items: center;
    font-size: 19px;
    height: auto;
    margin-bottom: 10px;
}

.cont_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    align-items: center;
    font-size: 19px;
    height: auto;
}

.cont_2 div {
    width: 100%;
    text-align: left;
}


.subtitulo{
    margin-bottom: 20px;
}

.prod_cont {
    width: 100%;
    text-align: right;
}

.prod_cont ul {
    margin: 0;
    padding: 10px;
    padding-right: 0;
    list-style: none;
}

.prod_cont ul li {
    margin: 0;
    padding: 7px;
    padding-right: 0;
    text-align: right;
}

.eliminar {
    background-image: url('../assets/basura.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    margin: 10px 50px 40px 0px;
    align-self: flex-end;
}

.eliminar:hover{
    cursor: pointer;
}

.iconos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.activo {
    background-image: url('../assets/ojo.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    margin: 10px 50px 40px 0px;
    align-self: flex-end;
}

.activo:hover{
    cursor: pointer;
}

.inactivo {
    background-image: url('../assets/ojos-cruzados.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    margin: 10px 50px 40px 0px;
    align-self: flex-end;
}

.inactivo:hover{
    cursor: pointer;
}